h1 {
    font-size: 4em;
    display: flex;
    justify-content: center;
    padding: 2.5rem;
    margin-bottom: 0;
    color: whitesmoke;
}

p {
    margin: 10px 15% 75px;
    font-size: large;
    color: whitesmoke;
    font-size: 1.5em;
}

.container {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 50px 0;
}

.message {
    font-size: 1.25em;
    color:  whitesmoke;
    display: block;
    margin-bottom: 8px;
}

input {
    margin: 0 10px 20px;
    display: block;
    width: 150px;
    height: 40px;
    border: none;
    border-bottom: 3px solid white;
    background-color: transparent;
    text-align: center;
    color: whitesmoke;  
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

input:focus {
    outline: none;
}

button {
    color: whitesmoke;
    background-color: transparent;
    border: 2px solid rgb(53, 53, 57);
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 8px 15px;
}

#table {
    width: 286px;
    height: 334px;
    border-radius: 10px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.9);
}