* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(images/background.jpg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Navbar */
.navbar {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(rgb(1, 1, 8), #010102, rgb(66, 66, 66));
    color: white;
    transition: all 300ms ease-in-out;
}

.page-title {
    font-family: 'Libre Baskerville', serif;
    font-size: 40px;
    margin: .75rem;
}

.nav-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0 5px 0 0;
}

.nav-links li {
    margin: 0 3px;
    
}

.nav-links .active {
    background-image: linear-gradient(rgb(66, 66, 66), rgb(1, 1, 8));
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: larger;
    padding: 10px;
    border-radius: 5px;
}

.nav-links a:hover {
    background-image: linear-gradient(rgb(66, 66, 66), rgb(1, 1, 8));
}

.toggle-btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: none;
    z-index: 9999;
}

/* Navbar Mobile view */

@media (max-width: 768px) {
    .bar1,.bar2,.bar3 {
        display: block;
    }
    .nav-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links ul {
        flex-direction: column;
        width: 100%;
        padding-bottom: 15px;
    }

    .nav-links li {
        text-align: center;
        padding: 15px 0;
    }

    .nav-links a:hover {
        background-image: linear-gradient(rgb(66, 66, 66), rgb(1, 1, 8));
    }

    .nav-links.active {
        display: block;
    }
}

/* Navbar menu button style */

.toggle-btn {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(148, 147, 149);
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 3px;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  /* navbar scroll */

.scroll-down .navbar {
    transform: translate3d(0, -100%, 0);
}

.scroll-up .navbar {
    filter: drop-shadow(0 -10px 20px rgb(66, 66, 66));
}

/* End of navbar */


/* footer section */
.footer {
    font-size: 1em;
}

footer {
    margin-top: auto;
    width: 100%;
    background-image: linear-gradient(rgb(66, 66, 66), #010102, rgb(1, 1, 8));
    height: 60px;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-content: center;   
}

.ub-page {
    margin-left: 5px;
    color: whitesmoke;
    
}