h1 {
    font-size: 4em;
    display: flex;
    justify-content: center;
    padding: 2.5rem;
    margin-bottom: 0;
    color: whitesmoke;
}

p {
    margin: 10px 15% 75px;
    font-size: large;
    color: whitesmoke;
    font-size: 1.5em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.std-met {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tab {
    margin: 5px 0 0;
    padding: 5px 45px;
    font-size: medium;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: solid 3px aqua;
    cursor: pointer;
}

.active {
    background-color: aqua;
    color: black;
}

.inactive {
    background-color: transparent;
    color: aqua;
}

#standard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#metric {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    border: solid 3px aqua;
    border-radius: 5px;
    width: 400px;
    height: 400px;
    margin-top: -2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.height {
    width: 300px;
    height: 50px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

input {
    width: 40px;
    margin: 0 8px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid whitesmoke;
    text-align: center;
    color: whitesmoke;
}

.label {
    padding-bottom: 5px;
}

.inputs {
    display: flex;
    flex-direction: row;
}

span {
    color: rgb(227, 214, 214);
}

.weight {
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.button {
    padding: 10px;
    margin: 20px 0;
    width: 80px;
    color: black;
    background-color: aqua;
    border-radius: 8px;
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}

.bmi-result {
    margin-top: 10px;
    width: 100px;
    height: 50px;
    text-align: center;
}

label {
    display: block;
    color: rgb(203, 197, 197);
}

