h1 {
    font-size: 4em;
    display: flex;
    justify-content: center;
    padding: 2.5rem;
    margin-bottom: 0;
    color: whitesmoke;
}

p {
    margin: 10px 15% 75px;
    font-size: large;
    color: whitesmoke;
    font-size: 1.5em;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note {
    margin: 10px auto 40px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px auto 40px;
}

.buttons {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.btn {
    width: 60px;
    height: 40px;
    background-color: rgb(6, 86, 102);
    margin: 10px;
    color: whitesmoke;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border-radius: 3px;
}

.btn:hover {
    box-shadow: 0 8px 16px 0 rgba(136, 193, 239, 0.2), 0 6px 20px 0 rgba(136, 193, 239, 0.19);
}

.mli {
    width: 517px;
    height: 364px;
}